 .slot{
    text-align: center ;
}

.reels{
    padding-left: 2%;
}

.coins{
    text-align: right;
    padding-right: 5%;
    margin-top: 10px;
    font-weight: bold;
}

li {
    list-style-type: none; 
}
